In [1]:
# Importing Pandas dependency
import pandas as pd

In [2]:
country_df = pd.read_csv('raw_data/country_template_year.csv')
country_df

      country_code  year    population  gdp_current_usd
0              AFG  1960  8.996973e+06     5.377778e+08
1              AFG  1961  9.169410e+06     5.488889e+08
2              AFG  1962  9.351441e+06     5.466667e+08
3              AFG  1963  9.543205e+06     7.511112e+08
4              AFG  1964  9.744781e+06     8.000000e+08
...            ...   ...           ...              ...
16099          WLD  2016  7.424286e+09     7.640000e+13
16100          WLD  2017  7.509074e+09     8.130000e+13
16101          WLD  2018  7.591945e+09     8.640000e+13
16102          WLD  2019  7.673534e+09     8.780000e+13
16103          WLD  2020  7.673534e+09     8.780000e+13

[16104 rows x 4 columns]

In [3]:
agriculture = pd.read_csv('cleaned_data/agricultureData.csv')
agriculture

,country,country_code,year,population,gdp_current_usd,land_area_ha,agri_land_%,forest_area_%,cereal_yield_kg_ha,cash_crop_yield_kg_ha,employment_agri_%,livestock_production_100_index
0,Afghanistan,AFG,1960,8996973.0,5.377778e+08,0.0,0.000000,6.857399,0.0,0.00,77.550771,42.936300
1,Afghanistan,AFG,1961,9169410.0,5.488889e+08,65286000.0,57.745918,6.171659,1115.1,223.02,78.334112,43.370000
2,Afghanistan,AFG,1962,9351441.0,5.466667e+08,65286000.0,57.837821,6.233999,1079.0,215.80,87.037902,43.990000
3,Afghanistan,AFG,1963,9543205.0,7.511112e+08,65286000.0,57.914407,6.296968,985.8,197.16,78.334112,47.030000
4,Afghanistan,AFG,1964,9744781.0,8.000000e+08,65286000.0,58.010906,6.360574,1082.8,216.56,79.125366,48.560000
...,...,...,...,...,...,...,...,...,...,...,...,...
13171,Zimbabwe,ZWE,2016,14030390.0,2.054868e+10,38685000.0,41.876696,35.542457,581.8,116.36,67.066002,106.250000
13172,Zimbabwe,ZWE,2017,14236745.0,2.204090e+10,38685000.0,0.000000,0.000000,616.0,123.20,66.764999,106.249894
13173,Zimbabwe,ZWE,2018,14439018.0,2.431156e+10,38685000.0,0.000000,0.000000,0.0,0.00,66.306999,106.249787
13174,Zimbabwe,ZWE,2019,14645468.0,2.144076e+10,0.0,0.000000,0.000000,0.0,0.00,66.543999,106.249681
13175,Zimbabwe,ZWE,2020,0.0,0.000000e+00,0.0,0.000000,0.000000,0.0,0.00,66.269997,106.249575

In [13]:
agriculture1 = pd.merge(country_df, agriculture, on=['country_code','year','population','gdp_current_usd'], how='inner')
agriculture1.to_csv('cleaned_data/agriculture_cleaned.csv', index=False)
agriculture1

,country_code,year,population,gdp_current_usd,country,land_area_ha,agri_land_%,forest_area_%,cereal_yield_kg_ha,cash_crop_yield_kg_ha,employment_agri_%,livestock_production_100_index
0,AFG,1960,8996973.0,5.377778e+08,Afghanistan,0.0,0.000000,6.857399,0.0,0.00,77.550771,42.936300
1,AFG,1961,9169410.0,5.488889e+08,Afghanistan,65286000.0,57.745918,6.171659,1115.1,223.02,78.334112,43.370000
2,AFG,1962,9351441.0,5.466667e+08,Afghanistan,65286000.0,57.837821,6.233999,1079.0,215.80,87.037902,43.990000
3,AFG,1963,9543205.0,7.511112e+08,Afghanistan,65286000.0,57.914407,6.296968,985.8,197.16,78.334112,47.030000
4,AFG,1964,9744781.0,8.000000e+08,Afghanistan,65286000.0,58.010906,6.360574,1082.8,216.56,79.125366,48.560000
...,...,...,...,...,...,...,...,...,...,...,...,...
13171,ZWE,2016,14030390.0,2.054868e+10,Zimbabwe,38685000.0,41.876696,35.542457,581.8,116.36,67.066002,106.250000
13172,ZWE,2017,14236745.0,2.204090e+10,Zimbabwe,38685000.0,0.000000,0.000000,616.0,123.20,66.764999,106.249894
13173,ZWE,2018,14439018.0,2.431156e+10,Zimbabwe,38685000.0,0.000000,0.000000,0.0,0.00,66.306999,106.249787
13174,ZWE,2019,14645468.0,2.144076e+10,Zimbabwe,0.0,0.000000,0.000000,0.0,0.00,66.543999,106.249681
13175,ZWE,2020,0.0,0.000000e+00,Zimbabwe,0.0,0.000000,0.000000,0.0,0.00,66.269997,106.249575

In [5]:
environment = pd.read_csv('cleaned_data/environmentData.csv')
environment

,country,country_code,year,pm2.5_air_pollution,access_to_electricity_%,renewable_electricity_%,urban_population_%,electricity_consumption_kwh
0,Afghanistan,AFG,1960,64.951772,22.25299274,2.871174,8.401,138.332032
1,Afghanistan,AFG,1961,64.958268,22.27526801,3.190194,8.684,138.470503
2,Afghanistan,AFG,1962,64.964764,22.29756558,3.544660,8.976,138.609112
3,Afghanistan,AFG,1963,64.971261,22.31988546,3.938511,9.276,138.747860
4,Afghanistan,AFG,1964,64.977759,22.34222769,4.376123,9.586,138.886746
...,...,...,...,...,...,...,...,...
13171,Zimbabwe,ZWE,2016,21.726947,39.92399216,52.197034,32.296,610.346034
13172,Zimbabwe,ZWE,2017,22.251671,40.48204803,51.675063,32.237,610.956991
13173,Zimbabwe,ZWE,2018,22.229419,41.04158401,51.158313,32.209,611.568559
13174,Zimbabwe,ZWE,2019,22.207190,41.04199443,50.646730,32.210,612.180740
13175,Zimbabwe,ZWE,2020,22.184983,41.04240486,50.140262,0.000,612.793534

In [6]:
environment1 = pd.merge(country_df, environment, on=['country_code','year'], how='inner')
environment1.to_csv('cleaned_data/environment_cleaned.csv',index=False)
environment1

,country_code,year,population,gdp_current_usd,country,pm2.5_air_pollution,access_to_electricity_%,renewable_electricity_%,urban_population_%,electricity_consumption_kwh
0,AFG,1960,8996973.0,5.377778e+08,Afghanistan,64.951772,22.25299274,2.871174,8.401,138.332032
1,AFG,1961,9169410.0,5.488889e+08,Afghanistan,64.958268,22.27526801,3.190194,8.684,138.470503
2,AFG,1962,9351441.0,5.466667e+08,Afghanistan,64.964764,22.29756558,3.544660,8.976,138.609112
3,AFG,1963,9543205.0,7.511112e+08,Afghanistan,64.971261,22.31988546,3.938511,9.276,138.747860
4,AFG,1964,9744781.0,8.000000e+08,Afghanistan,64.977759,22.34222769,4.376123,9.586,138.886746
...,...,...,...,...,...,...,...,...,...,...
13171,ZWE,2016,14030390.0,2.054868e+10,Zimbabwe,21.726947,39.92399216,52.197034,32.296,610.346034
13172,ZWE,2017,14236745.0,2.204090e+10,Zimbabwe,22.251671,40.48204803,51.675063,32.237,610.956991
13173,ZWE,2018,14439018.0,2.431156e+10,Zimbabwe,22.229419,41.04158401,51.158313,32.209,611.568559
13174,ZWE,2019,14645468.0,2.144076e+10,Zimbabwe,22.207190,41.04199443,50.646730,32.210,612.180740
13175,ZWE,2020,0.0,0.000000e+00,Zimbabwe,22.184983,41.04240486,50.140262,0.000,612.793534

In [7]:
finance = pd.read_csv('cleaned_data/financeData.csv')
finance

,country,country_code,year,atm_per_100000,borrowers_from_banks,broad_money_growth_%,listed_domestic_companies,foreign_investment_gdp,inflation_%,stocks_traded_%gdp,total_reserves
0,Afghanistan,AFG,1960,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,5.069080e+07
1,Afghanistan,AFG,1961,0.000000,0.000000,10.291859,0,0.000000,0.000000,0.0,4.244450e+07
2,Afghanistan,AFG,1962,0.000000,0.000000,17.827298,0,0.000000,0.000000,0.0,4.059210e+07
3,Afghanistan,AFG,1963,0.000000,0.000000,15.579196,0,0.000000,0.000000,0.0,4.554780e+07
4,Afghanistan,AFG,1964,0.000000,0.000000,22.888116,0,0.000000,0.000000,0.0,4.461968e+07
...,...,...,...,...,...,...,...,...,...,...,...
13171,Zimbabwe,ZWE,2016,7.073321,40.671346,19.048048,0,1.669274,-1.566413,0.0,4.071932e+08
13172,Zimbabwe,ZWE,2017,6.889214,40.956438,38.646489,0,1.121496,0.909733,0.0,2.926212e+08
13173,Zimbabwe,ZWE,2018,6.625208,142.527944,28.048464,0,3.062893,0.000000,0.0,8.695109e+07
13174,Zimbabwe,ZWE,2019,6.398139,90.239497,249.835278,0,1.305924,0.000000,0.0,1.512405e+08
13175,Zimbabwe,ZWE,2020,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000e+00

In [8]:
finance1 = pd.merge(country_df, finance, on=['country_code','year'], how='inner')
finance1.to_csv('cleaned_data/finance_cleaned.csv', index=False)

In [9]:
health = pd.read_csv('cleaned_data/healthData.csv')
health

,country,country_code,year,population,total_cancer_cases,total_cancer_deaths,total_obesity_numbers,birth_rate,death_rate,life_expectency,dtp_immunisation,measles_immunisation
0,Afghanistan,AFG,1960,8996973.0,0.00000,0.000000,0.00,461355.7785,289873.4731,32.446,0,0
1,Afghanistan,AFG,1961,9169410.0,0.00000,0.000000,0.00,471060.0999,290202.6571,32.962,0,0
2,Afghanistan,AFG,1962,9351441.0,0.00000,0.000000,0.00,481197.0995,290764.3550,33.471,0,0
3,Afghanistan,AFG,1963,9543205.0,0.00000,0.000000,0.00,491761.3537,291554.4560,33.971,0,0
4,Afghanistan,AFG,1964,9744781.0,0.00000,0.000000,0.00,502723.5070,292557.8152,34.463,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
13171,Zimbabwe,ZWE,2016,14030390.0,79553.23268,9698.880172,2174710.45,461094.7370,116255.8115,60.294,90,95
13172,Zimbabwe,ZWE,2017,14236745.0,80654.10705,9871.972337,0.00,451760.3923,114520.3768,60.812,89,90
13173,Zimbabwe,ZWE,2018,14439018.0,0.00000,0.000000,0.00,442931.3162,113822.7789,61.195,89,88
13174,Zimbabwe,ZWE,2019,14645468.0,0.00000,0.000000,0.00,0.0000,0.0000,0.000,90,85
13175,Zimbabwe,ZWE,2020,0.0,0.00000,0.000000,0.00,0.0000,0.0000,0.000,0,0

In [10]:
health1 = pd.merge(country_df, health, on=['country_code','population','year'], how='inner')
health1.to_csv('cleaned_data/health_cleaned.csv')
health1

,country_code,year,population,gdp_current_usd,country,total_cancer_cases,total_cancer_deaths,total_obesity_numbers,birth_rate,death_rate,life_expectency,dtp_immunisation,measles_immunisation
0,AFG,1960,8996973.0,5.377778e+08,Afghanistan,0.00000,0.000000,0.00,461355.7785,289873.4731,32.446,0,0
1,AFG,1961,9169410.0,5.488889e+08,Afghanistan,0.00000,0.000000,0.00,471060.0999,290202.6571,32.962,0,0
2,AFG,1962,9351441.0,5.466667e+08,Afghanistan,0.00000,0.000000,0.00,481197.0995,290764.3550,33.471,0,0
3,AFG,1963,9543205.0,7.511112e+08,Afghanistan,0.00000,0.000000,0.00,491761.3537,291554.4560,33.971,0,0
4,AFG,1964,9744781.0,8.000000e+08,Afghanistan,0.00000,0.000000,0.00,502723.5070,292557.8152,34.463,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13171,ZWE,2016,14030390.0,2.054868e+10,Zimbabwe,79553.23268,9698.880172,2174710.45,461094.7370,116255.8115,60.294,90,95
13172,ZWE,2017,14236745.0,2.204090e+10,Zimbabwe,80654.10705,9871.972337,0.00,451760.3923,114520.3768,60.812,89,90
13173,ZWE,2018,14439018.0,2.431156e+10,Zimbabwe,0.00000,0.000000,0.00,442931.3162,113822.7789,61.195,89,88
13174,ZWE,2019,14645468.0,2.144076e+10,Zimbabwe,0.00000,0.000000,0.00,0.0000,0.0000,0.000,90,85
13175,ZWE,2020,0.0,0.000000e+00,Zimbabwe,0.00000,0.000000,0.00,0.0000,0.0000,0.000,0,0

In [11]:
scitech = pd.read_csv('cleaned_data/scitechData.csv')
scitech

,country,country_code,year,high_tech_export,patent_applications,science_publications,technology_grants_current_usd
0,Afghanistan,AFG,1960,0.0,0,0.00,1510000
1,Afghanistan,AFG,1961,0.0,0,0.00,1620000
2,Afghanistan,AFG,1962,0.0,0,0.00,1870000
3,Afghanistan,AFG,1963,0.0,0,0.00,1990000
4,Afghanistan,AFG,1964,0.0,0,0.00,2150000
...,...,...,...,...,...,...,...
13171,Zimbabwe,ZWE,2016,13735165.0,8,313.80,59800000
13172,Zimbabwe,ZWE,2017,11206210.0,0,340.45,52490000
13173,Zimbabwe,ZWE,2018,9719357.0,0,359.33,54420000
13174,Zimbabwe,ZWE,2019,27810712.0,0,0.00,0
13175,Zimbabwe,ZWE,2020,0.0,0,0.00,0