In [1]:
from config import api_key
import quandl
import pandas as pd

In [2]:
quandl.ApiConfig.api_key = api_key

In [3]:
date = '1900-12-31'
nation = 'IND'

In [4]:
x = quandl.get(f'BP/C02_EMMISSIONS_{nation}', start_date=f'{date}', end_date='2018-12-31')

In [5]:
x

                  Value
Date
1965-12-31   167.716820
1966-12-31   170.332348
1967-12-31   174.811433
1968-12-31   182.894821
1969-12-31   197.863155
1970-12-31   190.268789
1971-12-31   207.019529
1972-12-31   219.216362
1973-12-31   219.742777
1974-12-31   239.328453
1975-12-31   254.334661
1976-12-31   264.770080
1977-12-31   278.664196
1978-12-31   278.100469
1979-12-31   297.378585
1980-12-31   311.219451
1981-12-31   341.301665
1982-12-31   343.631063
1983-12-31   366.577819
1984-12-31   388.055289
1985-12-31   410.414074
1986-12-31   439.592404
1987-12-31   476.367322
1988-12-31   513.365176
1989-12-31   560.537017
1990-12-31   603.187543
1991-12-31   635.680048
1992-12-31   673.074846
1993-12-31   693.646077
1994-12-31   724.851682
1995-12-31   774.466091
1996-12-31   813.525105
1997-12-31   855.266514
1998-12-31   894.773924
1999-12-31   911.691750
2000-12-31   962.480804
2001-12-31   970.319356
2002-12-31  1021.909215
2003-12-31  1062.269894
2004-12-31  1116.585317
2005-12-31  1204.552701
2006-12-31  1252.540623
2007-12-31  1365.507712
2008-12-31  1466.924217
2009-12-31  1595.641632
2010-12-31  1660.970497
2011-12-31  1735.730609
2012-12-31  1849.248166
2013-12-31  1930.003162
2014-12-31  2083.340817
2015-12-31  2147.809695
2016-12-31  2234.221421
2017-12-31  2316.871730
2018-12-31  2479.071902

In [6]:
countries = pd.read_html('https://countrycode.org/')

In [12]:
cleaned = countries[1]

In [13]:
cleaned

               COUNTRY COUNTRY CODE ISO CODES
0          Afghanistan           93  AF / AFG
1              Albania          355  AL / ALB
2              Algeria          213  DZ / DZA
3       American Samoa        1-684  AS / ASM
4              Andorra          376  AD / AND
..                 ...          ...       ...
235  Wallis and Futuna          681  WF / WLF
236     Western Sahara          212  EH / ESH
237              Yemen          967  YE / YEM
238             Zambia          260  ZM / ZMB
239           Zimbabwe          263  ZW / ZWE

[240 rows x 3 columns]